[Desktop Entry]
Comment=
Terminal=false
Name=Extract named entities in new documents
Exec=firefox http://localhost/search-apps/thesaurus/apply
Type=Application
Icon=mark-location-symbolic
